<ul class="social-media-list justify-content-end">
    {%- if site.instagram_username -%}
        <li class="social-icon">
            <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
                <img src="/assets/img/social_icons/instagram_white.png" alt="Instagram logo" />
            </a>
        </li>
    {%- endif -%}
    {%- if site.tiktok_username -%}
        <li class="social-icon">
            <a href="https://www.tiktok.com/@{{ site.tiktok_username | cgi_escape | escape }}">
                <img src="/assets/img/social_icons/tiktok_white.png" alt="Tiktok logo" />
            </a>
        </li>
    {%- endif -%}
<!--    {%- if site.spotify_username -%}-->
<!--        <li class="social-icon">-->
<!--            <a href="https://open.spotify.com/user/{{ site.spotify_username| cgi_escape | escape }}">-->
<!--                <img src="/assets/img/social_icons/spotify_white.png" alt="Spotify logo" />-->
<!--            </a>-->
<!--        </li>-->
<!--    {%- endif -%}-->
    {%- if site.youtube_username -%}
        <li class="social-icon">
            <a href="https://www.youtube.com/@{{ site.youtube_username | cgi_escape | escape }}">
                <img src="/assets/img/social_icons/youtube_white.png" alt="YouTube logo" />
            </a>
        </li>
    {%- endif -%}
</ul>
