<div class="container p-0">
    <div class="row sponsor-list">
        <div class="col-12 sponsor-logos d-flex align-items-center justify-content-around pb-4">
            <a href="https://www.mainstreetbeer.ca/" alt="Link to Main Street Brewing website" target="_blank">
                <img src="/assets/img/brand_logos/main_street.png" alt="Main Street Brewing logo" class="img-fluid img-square" />
            </a>
            <a href="https://www.instagram.com/rebelrebel_barbecue/?hl=en" alt="Link to Rebel Rebel BBQ's Instagram page" target="_blank">
                <img src="/assets/img/brand_logos/rebel_rebel.png" alt="Rebel Rebel BBQ logo" class="img-fluid img-square" />
            </a>
            <a href="https://nonny.beer/?shpxid=dc9eef55-d0ef-4f68-a21a-c651f5809f57" alt="Link to Nonny Beer's website" target="_blank">
                <img src="/assets/img/brand_logos/nonny.png" alt="Nonny Brewing logo" class="img-fluid" />
            </a>
            <a href="https://exclaim.ca/music/article/vancouver-s-unreal-city-music-festival-to-launch-in-2025" alt="Link to Exclaim.ca" target="_blank">
                <img src="/assets/img/brand_logos/exclaim_logo.png" alt="Exclaim.ca logo" class="img-fluid" />
            </a>
            <a href="https://www.standards.fm/" alt="Link to Standards.fm online magazine" target="_blank">
                <img src="/assets/img/brand_logos/standards.png" alt="Standards Magazine logo" class="img-fluid" />
            </a>
        </div>
    </div>
</div>