#mlb2-36193347.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  background: transparent !important;
}

#mlb2-36193347.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4 {
  font-family: "cc-thismanthismonster-var", sans-serif !important;
}

.ml-form-embedWrapper.embedForm {
  border: 3px solid black !important;
  border-radius: 10px;
}