<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

{%- include gtag.html -%}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">
    <div class="wrapper {% if page.wide %} wide{% endif %}">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
{%- if page.page_id == "bands" -%}
<script src="{{ '/assets/js/bands-filter.config.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bands-filter.js' | relative_url }}" defer></script>
{%- endif -%}
</body>

</html>
